15.237.81.229.nip.io {
  reverse_proxy node-app:3000  {
    header_down Strict-Transport-Security max-age=31536000;
  }

  root * /var/www/html
  file_server
  # Always serve the index page (1 page app)
  try_files {path} /index.html

}

rabbitmq.15.237.81.229.nip.io {
    reverse_proxy host.docker.internal:15672 {
      header_down Strict-Transport-Security max-age=31536000;
    }
}

api.15.237.81.229.nip.io {
    reverse_proxy api:80 {
      header_down Strict-Transport-Security max-age=31536000;
    }
}